# File for the requirements of the documentation
numpy==1.19.5
autodocsumm==0.2.7
scipy==1.8.0
commonmark==0.9.1
gitpython==3.1.26
graphviz==0.19.1
nbsphinx==0.8.8
recommonmark==0.7.1
sphinx==4.4.0
sphinx_rtd_theme==1.0.0
sphinxcontrib_applehelp==1.0.2
sphinxcontrib_devhelp==1.0.2
sphinxcontrib_htmlhelp==2.0.0
sphinxcontrib_jsmath==1.0.1
sphinxcontrib_qthelp==1.0.3
typing-extensions==4.1.1