# File for the requirements of the documentation
numpy==1.23.3
autodocsumm==0.2.9
scipy==1.9.1
commonmark==0.9.1
gitpython==3.1.41
graphviz==0.20.1
nbsphinx==0.9.3
recommonmark==0.7.1
sphinx==5.2.3
sphinx_rtd_theme==1.0.0
sphinxcontrib_applehelp==1.0.2
sphinxcontrib_devhelp==1.0.2
sphinxcontrib_htmlhelp==2.0.0
sphinxcontrib_jsmath==1.0.1
sphinxcontrib_qthelp==1.0.3
typing-extensions==4.3.0
